@charset "utf-8";

*,
*::after,
*::before {
    box-sizing: border-box;
}

#hamburger,
#ham_menu,
.side_m {
    display: none;
}
a{
    text-decoration: none;
}
body {
    width: 100%;
    font-family: 'Noto Sans', 'Arial', sans-serif;
}
nav {
    width: 100%;
    height: 120px;
    padding: 55px 70px 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    transition: all .7s ease-out;
    z-index: 998;
    overflow: hidden;
}
h1>a {
   display: block;
   width: 75px;
   height: 40px;
   margin-right: 32px;
   text-indent: -99999px;
   overflow: hidden;
   background: url(../Img/Main/Logo_black.png) no-repeat;
   transition: background .5s ease;
}
nav.expanded {
    height: 400px;
    background-color: #f4f4f4;
    z-index: 999;
}
nav ul {
    display: flex;
    text-align: center;
    justify-content: center;
}
nav ul>li {
    color: #222;
    width: 130px;
    font-size: 18px;
    font-weight: 700;
    transition: all .5s ease;
}
nav ul ul {
    margin-top: 50px;
    display: block;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.7s ease;
}

nav.expanded ul ul {
    max-height: 500px;
    opacity: 1;
}
nav ul ul a {
    display: block;
    text-decoration: none;
    color: #222;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    height: 100%;
    margin-bottom: 17px;
    letter-spacing: -.8px;
}
nav ul ul a:hover {
    text-decoration: underline;
}
#top_btn button {
    border: none;
    cursor: pointer;
    margin: 0 10px;
}
#search_btn {
    background: url(../Img/Main/search_black.png) no-repeat center;
    width: 32px;
    height: 20px;
    text-indent: -9999px;
    overflow: hidden;
    transition: all .5s ease;
}
#search {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .4);
    z-index: 99999;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
#search>form {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    justify-content: center;
}
#search label {
    font-size: 30px;
    color: #fff;
    letter-spacing: -1px;
    font-weight: 500;
    width: max-content;
}
#search>form input {
    width: 800px;
    border: none;
    outline: none;
    border-bottom: 3px solid #fff;
    background: transparent;
    padding-bottom: 20px;
    margin: 10px 0  0 70px;
    vertical-align: middle;
    text-indent: 20px;
    font-size: 21px;
    color: #fff;
    position: relative;
}
#search input::placeholder {
    font-size: 21px;
    font-weight: 500;
    color: #8e8f90;
    letter-spacing: -.5px;
}
#search button.search_btn {
    background: none;
    border: none;
    outline: none;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../Img/Main/search.png)no-repeat center;
    background-size: cover;
    width: 40px;
    height: 26px;
    position: absolute;
    top: 20px;
    right: 5px;
    cursor: pointer;
}
#login_btn {
    background: url(../Img/Main/login_black.png) no-repeat center;
    width: 32px;
    height: 20px;
    text-indent: -9999px;
    overflow: hidden;
    transition: all .5s ease;
}
#login {
    width: 520px;
    height: 100vh;
    background: #555;
    position: fixed;
    right: -520px;
    top: 0;
    z-index: 1000;
    padding: 40px 40px 60px 60px;
}
#login div:nth-child(1) {
    display: flex;
    justify-content: space-between;
}
#login div:nth-child(1) span {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 60px;
}
#login div:nth-child(1) button {
    background: none;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
}
#close_btn img {
    transition: all 0.4s ease;
  }
  
#close_btn img:hover {
transform: scale(1.1);
}
#login div:nth-child(2) {
    margin: 55px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
#login div:nth-child(2) p {
    font-size: 38px;
    font-weight: 300;
    color: #fff;
    width: 100%;
    margin-bottom: 75px;
}
#login div:nth-child(2) a {
    display: block;
    width: 190px;
    height: 60px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    font-size: 22px;
    font-weight: 300;
    position: relative;
    transition: all .5s ease-out;
}
#login div:nth-child(2) a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    background: #222;
    transition: all .5s ease-in-out;
    z-index: -1;
}
#login div:nth-child(2) a:hover::before {
    opacity: 1;
    height: 100%;
}
#login div:nth-child(2) a:hover {
    border-color: #222;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all .8s ease-in-out;
}
#overlay.show {
    opacity: 1;
    visibility: visible;
}
#overlay_1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 997;
    opacity: 0;
    visibility: hidden;
    transition: all .8s ease-in-out;
}

#overlay_1.show {
    opacity: 1;
    visibility: visible;
}

fieldset {
    width: 60%;
    user-select: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%,  -50%);
    left: 50%;
}
form h2 {
    text-align: center;
    font-size: 2.8rem;
    letter-spacing: .2rem;
    font-weight: 300;
    margin-bottom: 40px;
}
form li {
    width: 1000px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dcdcdc;
    gap: 5px;
    background: #fff;
}
form li:first-child {
    border-top: 2px solid #000;
}
form li:last-child {
    border-bottom: 1px solid #000;
}
form li>label {
    display: block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #f8f8f8;
    font-size: .92rem;
    font-weight: 300;
}
form .big {
    height: 75px;
    line-height: 75px;
}
form .ex {
    display: flex;
    gap: 60px;
    align-items: center;
}
input::placeholder {
    color: #bebebe;
}
#name,
#id,
#pw,
#pwch,
#phone_part1,
#phone_part2,
#phone_part3,
#email_id,
#email_domain{
    width: 350px;
    height: 35px;
    font-size: .9rem;
    color: #000;
    border: none;
    border-bottom: 2px solid #e0dfdf;
    padding: 12px 15px;
    outline: none;
    transition: border-bottom 0.3s ease;
}
.ex p {
    font-size: .8rem;
}
#phone_part1 {
    width: 80px;
}
#phone_part2,
#phone_part3 {
    width: 150px;
}
#phone_part1::placeholder,
#phone_part2::placeholder,
#phone_part3::placeholder {
    text-align: center;
}
.margin_b {
    margin-bottom: 15px;
}
.margin_b span {
    color: #b0b0b0;
}
form #name:focus,
#id:focus,
#pw:focus,
#pwch:focus,
#phone_part1:focus,
#phone_part2:focus,
#phone_part3:focus,
#email_id:focus,
#email_domain:focus {
    border-bottom: 2px solid #666;
}
#phone_part1,
#phone_part2,
#phone_part3 {
    text-align: center;
}
.check {
    font-size: .8rem;
    color: #b0b0b0;
    padding:0 20px 8px;
}
.check label {
    margin-left: 50px;
    position: relative;
    cursor: pointer;
}
.check label::before {
    content: "";
    width: 14px;
    height: 14px;
    border: 1px solid #b0b0b0;
    border-radius: 50%;
    position: absolute;
    left: -22px;
}
.check label::after {
    content: "";
    width: 8px;
    height: 8px;
    background: #221e1f;
    border-radius: 50%;
    position: absolute;
    left: -19px;
    top: 3px;
    display: none;
} 
.check input:checked + label::after {
    display: block;
}
#email_id,
#email_domain {
    width: 230px;
}
#email_domain[disabled] {
    color: #b0b0b0;
    user-select: none;
    background: none;
    cursor: not-allowed;
    font-style: italic;
  }
#email_select{
    width: 230px;
    height: 35px;
    font-size: .9rem;
    color: #b0b0b0;
    border-bottom: 2px solid #e0dfdf;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}
form ul+div {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
}
form .a {
    display: block;
    width: 140px;
    height: 45px;
    color: #222;
    border: 1px solid #222;
    text-align: center;
    line-height: 45px;
    font-size: 1rem;
    cursor: pointer;
    transition: all .5s ease-in-out;
    position: relative;
    z-index: 2;
}
form .a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    background: #222;
    transition: all .5s ease-in-out;
    color: #222;
    z-index: -1;
}
form .a:hover::before {
    opacity: 1;
    height: 100%;
}
form .a:hover {
    color: #fff;
}
input.a {
    background: none;
    outline: none;
    color: none;
}
form .sub_btn {
    position: relative;
}
form .sub_btn::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    background: #222;
    transition: all .5s ease-in-out;
    color: #222;
    z-index: -1;
}
form .sub_btn:hover::before {
    opacity: 1;
    height: 100%;
}
form .sub_btn:hover {
    color: #fff;
}
input.sub_btn {
    background: none;
    outline: none;
    border: none;
    color: none;
}
.check input {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

@media screen and (max-width:1024px) {
    #nav_p,
    #side_nav,
    .side {
        display: none;
    }
    nav,
    nav.expanded,
    nav.light,
    nav ul ul,
    nav ul>li,
    nav ul ul a{
        all: unset;
    }   
    #hamburger {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
        height: 100px;
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        background: transparent;
        transition: all .5s ease-in-out;
    }
    
    #hamburger .btn_wrap {
        display: flex;
        align-items: center;
    }
    #hamburger #search_btn_m,
    #hamburger #login_btn_m {
        border: none;
        outline: none;
        cursor: pointer;
        position: absolute;
        right: 96px;
        text-indent: -99999px;
        overflow: hidden;
        width: 20px;
        outline: none;
        height: 20px;
        overflow: hidden;
        visibility: visible;
        opacity: 1;
        transition: opacity .5s ease-in-out, visibility 0s linear .25s, right .5s ease-in-out, background .5s ease-in-out;
    }
    #hamburger #search_btn_m {
        background: url(../Img/Main/search_m.png) no-repeat;
        background-size: cover;
        opacity: 0;
        right: 86px;
        visibility: hidden;
    }
    #hamburger #login_btn_m {
        background: url(../Img/Main/login_mblack.png) no-repeat;
        background-size: cover;
    }   
    #hamburger #ham_btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }
    #hamburger #ham_btn span {
        background: #222;
        display: block;
        height: 2px;
        width: 24px;
        transition: all .5s ease-in-out;
        transform-origin: left;
    }
    #hamburger.active {
        background: #f4f4f4;
    }
    #hamburger.active h1 a,
    #hamburger.active #search_btn_m {
        right: 96px;
        opacity: 1;
        visibility: visible;
    }
    #hamburger.active #login_btn_m {
        opacity: 0;
        right: 86px;
        visibility: hidden;
    }
    #hamburger.active #ham_btn {
        gap: 15px;
    }
    #hamburger.active #ham_btn span:nth-child(1){
        transform: rotate(45deg);
        background-color: #222;
    }
    #hamburger.active #ham_btn span:nth-child(2){
        transform: rotate(-45deg);
        background-color: #222;
    }
    #hamburger.active+#ham_menu {
        right: 0;
    }
    #ham_menu {
        display: block;
        width: 420px;
        height: 100%;
        background: #f4f4f4;
        position: fixed;
        top: 0;
        right: -420px;
        z-index: 999;
        transition: .5s ease-in-out;
    }
    #ham_menu>ul {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        text-align: left;
    }
    #ham_menu>ul>li {
        font-size: 18px;
        font-weight: 700;
        margin-top: 30px;
        position: relative;
    }
    #ham_menu>ul>li::before, 
    #ham_menu>ul>li::after {
        content: "";
        width: 12px;
        height: 2px;
        position: absolute;
        background: #222;
        top: 10px;
        right: 21px;
        cursor: pointer;
        transition: all .3s ease-in-out;
    }
    #ham_menu>ul>li::after {
        width: 2px;
        height: 12px;
        right: 26px;
        top: 5px;
    }
    #ham_menu>ul>li>p {
        padding-left: 21px;
        cursor: pointer;
    }
    #ham_menu ul li.active > ul {
        max-height: 500px;
        opacity: 1;
    }
    #ham_menu ul li.active::after {
        transform: rotate(90deg);
    }
    #ham_menu ul ul {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        display: flex;
        flex-direction: column;
        transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
        border-bottom: 1px solid #7d7d7d;
    }
    #ham_menu li li {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 400;
    }
    #ham_menu li li a {
        padding-left: 24px;
        margin-bottom: 12px;
        cursor: pointer;
    }
    #ham_menu li li:first-child a {
        margin-top: 20px;
    }
    #ham_menu li li:last-child a {
        margin-bottom: 30px;
    }
    #ham_menu li:last-child li:last-child {
        border-bottom: none;
    }
}